Source: webmin
Section: admin
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends: debhelper (>> 4.2.0), tar, gzip
Standards-Version: 3.6.1

Package: webmin
Architecture: any
Depends: perl, libnet-ssleay-perl, openssl, libauthen-pam-perl, libpam-runtime, libio-pty-perl, libmd5-perl
Pre-Depends: perl
Description: A web-based administration interface for Unix systems.
 Using Webmin you can configure DNS, Samba, NFS, local/remote filesystems
 and more using your web browser.  After installation, enter the URL 
 https://localhost:10000/ into your browser and login as root with your 
 root password.

Package: webmin-at
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Scheduled Commands
 Schedule the execution of one-off commands or scripts.

Package: webmin-lvm
Architecture: any
Depends: webmin (>= 1.480), webmin-mount, webmin-fdisk
Description: Webmin module - Logical Volume Management
 Configure volume groups, physical volumes and logical
 volumes for Linux LVM.

Package: webmin-mon
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - MON Service Monitor
 Setup MON, a powerful service monitor and alerting system.

Package: webmin-net
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Network Configuration
 Configure boot time and active interfaces, DNS, routing
 and /etc/hosts.

Package: webmin-nis
Architecture: any
Depends: webmin (>= 1.480), webmin-inetd, webmin-useradmin
Description: Webmin module - NIS Client and Server
 Setup a system as an NIS client, master or slave server.
 Note that NIS+ is not supported.

Package: webmin-pam
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - PAM Authentication
 Configure the PAM authentication steps used by services
 such as telnet, POP and FTP.

Package: webmin-pap
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - PPP Dialin Server
 Set up a dialin server using mgetty and PPP.

Package: webmin-smf
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Service Management Facility Configuration
 Edit services under control of Service Manangement
 Facility SMF(1).

Package: webmin-cpan
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Perl Modules
 Install new Perl modules on your system, and view those
 already installed.

Package: webmin-file
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - File Manager
 View, edit and change permissions on files and directories
 on your system with a Windows-like file manager.

Package: webmin-exim
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Exim Mailserver

Package: webmin-frox
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Frox FTP Proxy
 Configure Frox, a transparent proxy for FTP clients.

Package: webmin-grub
Architecture: any
Depends: webmin (>= 1.480), webmin-fdisk, webmin-mount
Description: Webmin module - GRUB Boot Loader
 Configure the Linux GRUB boot loader to allow the selection
 of various operating systems and kernels at boot time.

Package: webmin-ipfw
Architecture: any
Depends: webmin (>= 1.480), webmin-net
Description: Webmin module - BSD Firewall
 Configure a BSD firewall using IPFW, by creating and
 editing rules.

Package: webmin-krb5
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Kerberos5
 Configure the Kerberos 5 client on your system.

Package: webmin-lilo
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Linux Bootup Configuration
 Edit kernels and partitions selectable at boot time
 with LILO.

Package: webmin-raid
Architecture: any
Depends: webmin (>= 1.480), webmin-fdisk, webmin-mount
Description: Webmin module - Linux RAID
 Create RAID 0, 1, 4, 5 and linear devices on a Linux system.

Package: webmin-rbac
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - RBAC and Projects
 Manage RBAC user attributes, profiles and authorizations.

Package: webmin-sarg
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Squid Report Generator
 Configure and schedule SARG, a tool for generating
 reports from Squid access logs.

Package: webmin-spam
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - SpamAssassin Mail Filter
 Set up and configure SpamAssassin to filter email received
 by your system.

Package: webmin-sshd
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - SSH Server
 Setup the SSH server for remote secure logins.

Package: webmin-time
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - System Time
 Set the sytem and hardware time either manually or
 from a time server.

Package: webmin-sgiexports
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - NFS Exports
 Edit file shares as defined in the Irix /etc/exports file

Package: webmin-cluster-passwd
Architecture: any
Depends: webmin (>= 1.480), webmin-cluster-useradmin, webmin-passwd, webmin-useradmin
Description: Webmin module - Cluster Change Passwords
 Change passwords on multiple systems in a Webmin cluster
 at once.

Package: webmin-software
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Software Packages
 Manage software packages on your system, and install
 new packages.

Package: webmin-cfengine
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Configuration Engine
 Configure the CFengine program, for checking and maintaining
 various system-administration settings.

Package: webmin-majordomo
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Majordomo List Manager
 Create and configure mailing lists for Majordomo.

Package: webmin-ipfilter
Architecture: any
Depends: webmin (>= 1.480), webmin-net
Description: Webmin module - IPFilter Firewall
 Configure a firewall using the IPFilter package, by
 creating and editing rules.

Package: webmin-cluster-webmin
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Cluster Webmin Servers
 Install and manage modules, themes, users, groups and
 access control settings across multiple Webmin servers.

Package: webmin-bind8
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - BIND DNS Server
 Create and edit domains, DNS records, BIND options
 and views.

Package: webmin-dhcpd
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - DHCP Server
 Manage shared networks, subnets, hosts and groups for
 ISC DHCPD.

Package: webmin-fdisk
Architecture: any
Depends: webmin (>= 1.480), webmin-mount, webmin-raid
Description: Webmin module - Partitions on Local Disks
 Create and edit paritions on local SCSI and IDE disks
 on Linux.

Package: webmin-inetd
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Internet Services and Protocols
 Edit services in /etc/inetd.conf, /etc/services and
 /etc/rpc.

Package: webmin-ipsec
Architecture: any
Depends: webmin (>= 1.480), webmin-net, webmin-syslog
Description: Webmin module - IPsec VPN Configuration
 Set up a client or server for an IPsec VPN using FreeSWAN.

Package: webmin-mount
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Disk and Network Filesystems
 Mount filesystems and swap files usually configured
 in /etc/fstab or /etc/vfstab.

Package: webmin-mysql
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - MySQL Database Server
 Setup databases, tables and permissions in your MySQL
 database server.

Package: webmin-quota
Architecture: any
Depends: webmin (>= 1.480), webmin-mount
Description: Webmin module - Disk Quotas
 Setup and edit user or group disk quotas for local
 filesystems.

Package: webmin-samba
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Samba Windows File Sharing
 Create and edit samba file and print shares.

Package: webmin-shell
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Command Shell
 Execute shell commands and view their output.

Package: webmin-squid
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Squid Proxy Server
 Configure Squid options, ACLs, caching parameters and
 proxy users.

Package: webmin-zones
Architecture: any
Depends: webmin (>= 1.480), webmin-net, webmin-mount, webmin-time, webmin-useradmin
Description: Webmin module - Solaris Zones
 Create and manage Solaris 10 zones.

Package: webmin-adsl-client
Architecture: any
Depends: webmin (>= 1.480), webmin-net
Description: Webmin module - ADSL Client
 Set up a PPP client with the RP-PPPoE package.

Package: webmin-dovecot
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Dovecot IMAP/POP3 Server
 Configure the Dovecot IMAP and POP3 mail retrieval server.

Package: webmin-pptp-client
Architecture: any
Depends: webmin (>= 1.480), webmin-net, webmin-syslog
Description: Webmin module - PPTP VPN Client
 Configure and establish connections to a VPN server
 using the PPTP protocol.

Package: webmin-cluster-usermin
Architecture: any
Depends: webmin (>= 1.480), webmin-usermin
Description: Webmin module - Cluster Usermin Servers
 Install and manage modules and themes across multiple
 Usermin servers.

Package: webmin-hpuxexports
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - NFS Exports
 Edit file shares as defined in the HPUX /etc/exports file.

Package: webmin-cluster-shell
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Cluster Shell Commands
 Run commands on multiple servers at once.

Package: webmin-bandwidth
Architecture: any
Depends: webmin (>= 1.480), webmin-net
Description: Webmin module - Bandwidth Monitoring
 View reports on bandwidth usage by host, port, protocol
 and time on a Linux system.

Package: webmin-syslog-ng
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - System Logs NG
 Configure the Syslog-NG server on your system and view
 its log files.

Package: webmin-mailcap
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - MIME Type Programs
 Edit the /etc/mailcap file, which maps MIME types to
 handler programs

Package: webmin-ppp-client
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - PPP Dialup Client
 Configure the WV-Dial package to connect to the Internet
 with a modem PPP connection

Package: webmin-lpadmin
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Printer Administration
 Create and edit local and remote printers. Supports
 Windows print servers and Ghostscript print drivers.

Package: webmin-heartbeat
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Heartbeat Monitor
 Configure the Heartbeat package for automatic server
 failover in a cluster.

Package: webmin-pptp-server
Architecture: any
Depends: webmin (>= 1.480), webmin-net, webmin-pptp-client
Description: Webmin module - PPTP VPN Server
 Set up your system as a PPTP server so that Linux or
 Windows VPN clients can connect.

Package: webmin-apache
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Apache Webserver
 Configure almost all Apache directives and features.

Package: webmin-ldap-client
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - LDAP Client
 Configure your system as an LDAP client for users and
 groups.

Package: webmin-firewall
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Linux Firewall
 Configure a Linux firewall using iptables. Allows the
 editing of all tables, chains, rules and options.

Package: webmin-stunnel
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - SSL Tunnels
 Setup SSL tunnels to encrypt services like POP3 and
 IMAP, using stunnel run from inetd.

Package: webmin-burner
Architecture: any
Depends: webmin (>= 1.480), webmin-fdisk
Description: Webmin module - CD Burner
 Burn data CDs from ISO images or selected directories.

Package: webmin-exports
Architecture: any
Depends: webmin (>= 1.480), webmin-mount
Description: Webmin module - NFS Exports
 Edit NFS file shares defined in /etc/exports.

Package: webmin-backup-config
Architecture: any
Depends: webmin (>= 1.480), webmin-mailboxes
Description: Webmin module - Backup Configuration Files
 Perform manual or scheduled backups and restores of
 configuration files managed by Webmin modules.

Package: webmin-custom
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Custom Commands
 Create buttons to execute commonly used commands or
 edit files on your system.

Package: webmin-htaccess-htpasswd
Architecture: any
Depends: webmin (>= 1.480), webmin-useradmin, webmin-apache
Description: Webmin module - Protected Web Directories
 Create .htaccess and htpasswd files to protect web
 -acessible directories.

Package: webmin-logrotate
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Log File Rotation
 Set up the automatic rotation of Apache, Squid, Syslog
 and other log files.

Package: webmin-filter
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Filter and Forward Mail
 Create rules to filter and forward incoming email.

Package: webmin-format
Architecture: any
Depends: webmin (>= 1.480), webmin-mount
Description: Webmin module - Partitions on Local Disks
 Create and edit paritions on local disks on Solaris.

Package: webmin-fsdump
Architecture: any
Depends: webmin (>= 1.480), webmin-mount, webmin-mailboxes
Description: Webmin module - Filesystem Backup
 Backup and restore filesystems using the dump and restore
 family of commands.

Package: webmin-idmapd
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - idmapd daemon
 Manage the NFS ID mapping daemon.

Package: webmin-shorewall
Architecture: any
Depends: webmin (>= 1.480), webmin-syslog
Description: Webmin module - Shoreline Firewall
 Lets you edit the most useful tables of the Shoreline
 Firewall

Package: webmin-jabber
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Jabber IM Server
 Configure the multi-protocol Jabber messaging server.

Package: webmin-qmailadmin
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - QMail Mail Server
 Configure the QMail mail server, a simpler alternative
 to Sendmail.

Package: webmin-passwd
Architecture: any
Depends: webmin (>= 1.480), webmin-useradmin
Description: Webmin module - Change Passwords
 Change the password of any user on the system.

Package: webmin-cluster-useradmin
Architecture: any
Depends: webmin (>= 1.480), webmin-useradmin
Description: Webmin module - Cluster Users and Groups
 Create, update and delete users and groups across multiple
 servers. Unlike NIS, each server has its own passwd
 and group files which are remotely updated by this module.

Package: webmin-phpini
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - PHP Configuration
 Configure PHP settings for the whole system or invidivual
 Apache virtual servers.

Package: webmin-bsdexports
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - NFS Exports
 Edit file shares from the FreeBSD /etc/exports file.

Package: webmin-ldap-server
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - LDAP Server
 Manage the OpenLDAP server and objects in its database

Package: webmin-cluster-software
Architecture: any
Depends: webmin (>= 1.480), webmin-software
Description: Webmin module - Cluster Software Packages
 Install RPMs, debian and solaris packages across multiple
 servers from one source.

Package: webmin-sentry
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Security Sentries
 Configure the portsentry, hostsentry and logcheck system
 security monitoring programs.

Package: webmin-cluster-copy
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Cluster Copy Files
 Schedule the transfer of files from this server to
 multiple servers in a Webmin cluster.

Package: webmin-cluster-cron
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Cluster Cron Jobs
 Create scheduled Cron jobs that run on multiple servers
 simultaneously.

Package: webmin-telnet
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - SSH Login
 Login to your system with SSH or telnet.

Package: webmin-sendmail
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Sendmail Mail Server
 Manage sendmail aliases, masquerading, address rewriting
 and other features.

Package: webmin-status
Architecture: any
Depends: webmin (>= 1.480), webmin-mailboxes
Description: Webmin module - System and Server Status
 View the status of services on your system and on remote
 systems.

Package: webmin-syslog
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - System Logs
 Configure the syslog server on your system and view
 its log files.

Package: webmin-tunnel
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - HTTP Tunnel
 Connect to another HTTP server via a tunnel through
 the Webmin server.

Package: webmin-ldap-useradmin
Architecture: any
Depends: webmin (>= 1.480), webmin-useradmin
Description: Webmin module - LDAP Users and Groups
 Manage users and groups stored in an LDAP database
 , used for Unix, Samba and Cyrus IMAP authentication.

Package: webmin-updown
Architecture: any
Depends: webmin (>= 1.480)
Recommends: unzip
Description: Webmin module - Upload and Download
 Upload multiple files to the server, and download multiple
 URLs either immediately or in the background at a scheduled
 time.

Package: webmin-vgetty
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Voicemail Server
 Set up your system as an answering machine using vgetty

Package: webmin-usermin
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Usermin Configuration
 Configure global options for the Usermin user account
 management server.

Package: webmin-bacula-backup
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Bacula Backup System
 Configure Bacula to perform backups and restores manually
 or on schedule, for one or many systems.

Package: webmin-xinetd
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Extended Internet Services
 Edit servers handled by Xinetd, a replacement for inetd.

Package: webmin-wuftpd
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - WU-FTP Server
 Configure the access control, anonymous FTP and other
 options of WU-FTPd.

Package: webmin-openslp
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - OpenSLP Server
 Configure the service location protocol server.

Package: webmin-procmail
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Procmail Mail Filter
 Edit recipes in the global /etc/procmailrc file, which
 apply to all incoming email.

Package: webmin-tcpwrappers
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - TCP Wrappers
 Configure the TCP wrappers networking access control files

Package: webmin-fetchmail
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Fetchmail Mail Retrieval
 Configure the popular fetchmail program for automatically
 retrieving mail from other servers.

Package: webmin-dfsadmin
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - NFS Shares
 Edit file shares as defined in the /etc/dfs/dfstab file.

Package: webmin-postgresql
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - PostgreSQL Database Server
 Manage databases, tables and users in your PostgreSQL
 database server.

Package: webmin-useradmin
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Users and Groups
 Create and edit Unix users and groups from the /etc
 /passwd and /etc/group files.

Package: webmin-mailboxes
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Read User Mail
 Read email in users' mailboxes.

Package: webmin-webalizer
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Webalizer Logfile Analysis
 Generate reports from webserver, proxy server and FTP
 log files

Package: webmin-awstats
Architecture: any
Depends: webmin (>= 1.480), webmin-logrotate
Description: Webmin module - AWStats Logfile Analysis
 Generates and analyzes statistics from Web, proxy, wap, streaming, ftp or
 mail server log files using AWStats log analyzer.

Package: webmin-change-user
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Change Language and Theme
 Allows the current Webmin user to change his language
 , theme and possibly password.

Package: webmin-postfix
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Postfix Mail Server
 Configure the Postfix mail server.

Package: webmin-smart-status
Architecture: any
Depends: webmin (>= 1.480), webmin-fdisk
Description: Webmin module - SMART Drive Status
 Check the status of IDE drives to detect problems and
 potential failures.

Package: webmin-proftpd
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - ProFTPD Server
 Configure the powerful ProFTPD FTP server. Supports
 all options in most of the standard modules.

Package: webmin-pserver
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - CVS Server
 Setup a remotely-accessible CVS server, manage users
 and browse the repository.

Package: webmin-dnsadmin
Architecture: any
Depends: webmin (>= 1.480), webmin-bind8
Description: Webmin module - BIND 4 DNS Server
 Create and edit domains and DNS records.

Package: webmin-text-editor
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin module - Text Editor
 Provides a simple interface for editing text files, with a history of
 recently-edited files.

Package: webmin-blue-theme
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin theme - Blue Framed Theme
 A simple theme with minimal graphics, which uses a
 categorized layout.

Package: webmin-caldera
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin theme - Caldera Theme
 A framed theme developed by Caldera, which shows categories
 and modules at the top of the window.

Package: webmin-mscstyle3
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin theme - MSC.Linux Theme
 The new default theme by MSC.Linux, which displays
 category buttons on every page.

Package: webmin-theme-stressfree
Architecture: any
Depends: webmin (>= 1.480)
Description: Webmin theme - StressFree Tiger Theme
 Tiger-like look for Webmin and Usermin featuring dropdown
 menus, AJAX search, and high color icons for the web
 interface and java file manager.
