#! /usr/bin/make -f

progname=$(shell awk '/^Source/ {print $$2}' debian/control)
buildroot=debian/$(progname)

share=$(buildroot)/usr/share/$(progname)
tmp=debian/tmp

clean:
	dh_clean

build:
	dh_clean -k
	mkdir -p $(tmp)
	tar -zxf webmin.tar.gz -C $(tmp)

install: build
	dh_testdir
	dh_testroot
	chown -R root:root $(tmp)
	mkdir -p $(share)
	mv $(tmp)/webmin-*/* $(share)
	dh_install debian/etc/pam.d/webmin etc/pam.d
	rm -rf $(tmp)
	for p in module-archives/* theme-archives/*; do \
		plugin=$$(basename $$p | sed 's/.wb[m|t].gz//'); \
		plugindir=$(buildroot)-$$plugin/usr/share/$(progname)/$$(dirname $$p); \
		mkdir -p $$plugindir; \
		cp $$p $$plugindir; \
		echo -e "#!/bin/sh\nset -e\n\ncd /usr/share/$(progname)\n./install-module.pl $$p\n\n#DEBHELPER#\n" > debian/$(progname)-$$plugin.postinst ; \
		echo -e "#!/bin/sh\nset -e\n\nrm -rf /usr/share/$(progname)/$$plugin\n\n#DEBHELPER#\n" > debian/$(progname)-$$plugin.postrm ; \
	done

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installinit -r --no-start -- start 91 2 .
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary-arch: install

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install

