#! /usr/bin/make -f

progname=$(shell awk '/^Source/ {print $$2}' debian/control)
buildroot=debian/$(progname)

share=$(buildroot)/usr/share/$(progname)
tmp=debian/tmp

clean:
	dh_clean

build:
	dh_clean -k
	mkdir -p $(tmp)
	tar -zxf webmin.tar.gz -C $(tmp)

install: build
	dh_testdir
	dh_testroot
	chown -R root:root $(tmp)
	mkdir -p $(share)
	mv $(tmp)/webmin-*/* $(share)
	dh_install debian/etc/pam.d/webmin etc/pam.d
	rm -rf $(tmp)

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install

