[Unit]
Description=Webmin Web based Admin UI
Requires=local-fs.target
After=network.target remote-fs.target nss-lookup.target
StartLimitBurst=20
StartLimitIntervalSec=30

[Service]
Type=exec
Environment="PERLLIB=/usr/share/webmin" LANG= PERLIO=
ExecStart=/usr/share/webmin/miniserv.pl /etc/webmin/miniserv.conf
KillSignal=SIGINT
PIDFile=/var/webmin/miniserv.pid
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
